<% @locations.each do |location| %>
  <% link_to ('Show') do %>
    <div id="file_container">
      <div id="inner_file_box">
      </div>
      <p><%= location.owner %></p>
    </div>
  <% end %>
<% end %>

<br /><br /><br /><br /><br />
<%= link_to 'New Location', new_location_path %>
